@import "~bootstrap/scss/bootstrap";

body {
  background: #fff;
}

footer {
  background: #f43e67;
}

.featurette img {
  width: 400px;
  height: 400px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
